# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Environment variables & secrets
.env
*.pem
*.json.key

# Flask
instance/
*.db
*.sqlite3

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log